<div class="dropdown">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" href="">
        Manage
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Quản lý liên hệ</a>
        </li>
    </ul>
</div>