@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-8 bg-success">
        @RenderBody()
    </div>
    <div class="col-md-4">
        @RenderSection("Sidebar",required:false)
    </div>

</div>
