@model MVC_01.Models.ProductModel
@{
    Layout = "_Layout";
}
<div class="card bg-primary text-white">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Gía: @Model.Price
        </p>

    </div>
</div>
<hr>
@this.Path