@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}

<h1>Gioi thieu ve razor</h1>
<p>
    Razor la 1 template engine cua .net ...la 1 template engine mac dinh
    asp.net mvc, co chuc nang render HTML tu cac view
    View(.cshtml) cho phep viet html co nhung code c#
</p>